:root {
  --color-main: #a24169;
  --color-secondary: #85224c;
}

body {
  width: 400px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  background-color: black;
  color: white;
}

main {
  padding: 5px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 375px;
}

#stats {
  min-width: 275px;
}

button {
  background-color: #333;
  color: var(--color-main);
  border: 2px solid var(--color-main);
  border-radius: 0;
  font-family: "Fira Code", "Consolas", monospace;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--color-main);
  color: #333;
}
button:active {
  background-color: var(--color-secondary);
}

li {
  font-size: 14px;
  font-family: "Fira Code", "Consolas", monospace;
}

#buttons {
  display: grid;
  width: 75px;
}

#catContainer {
  border: 1px inset var(--color-main);
  min-width: 280px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100px;
}

#cat-popup {
  font-family: "Fira Code", "Consolas", monospace;
  font-size: 16px;
}
